html 
    header 
        ul 
            li 
                a(href="/")="Home/Category"
            li 
                a(href="/kill")="End Session"
    body 
        table(border="1px")
            th="Name"
            th="Price"
            th="QTY"
            th="Subtotal"
            each i in items 
                tr 
                    td=i.name 
                    td=i.price
                    td=i.qty
                    td=i.sub
        h2=total
